{% extends 'base.html.twig' %}

{% block title %}Create Message{% endblock %}

{% block body %}

    <h1>Message</h1>

    {{ form_start(messageForm) }}
    {{ form_end(messageForm) }}
{% endblock %}
