<td class="esd-stripe" align="center" bgcolor="#f8f9fd" style="background-color: #f8f9fd;">
    <table bgcolor="#ffffff" class="es-content-body" align="center" cellpadding="0" cellspacing="0" width="600">
        <tbody>
        <tr>
            <td class="esd-structure es-p10t es-p15b es-p30r es-p30l" align="left">
                <table cellpadding="0" cellspacing="0" width="100%">
                    <tbody>
                    <tr>
                        <td width="540" class="esd-container-frame" align="center" valign="top">
                            <table cellpadding="0" cellspacing="0" width="100%">
                                <tbody>
                                <tr>
                                    <td align="center" class="esd-block-image" style="font-size:0">
                                        <img src="https://lymphorum.com/assets/img/email/header1.png" width="590"
                                             alt="TS Oncology"
                                             style="border-width:0;height:auto;display:block;max-width:599px;width:100%">
                                    </td>
                                </tr>
                                <tr>
                                    <td><br><br><br></td>
                                </tr>
                                <tr>
                                    <td align="left" class="esd-block-text">
                                        <p><b>{{ UserName }}</b>,</p>
                                        <p>Вы были успешно зарегистрированы на Интерактивный
                                            форум экспертов по
                                            вопросам
                                            диагностики и лечения лимфопролиферативных заболеваний <b>«Клинический
                                                Лимфорум»,</b><br>
                                            который состоится <b>17-18 сентября 2021 года</b> для <b>очных
                                                участников</b> по адресу: <b>г. Москва, 3-я
                                                улица Ямского Поля, 26А, гостиница Рэдиссон Блу Белорусская</b>, а для
                                            <b>онлайн участников</b> на платформе <b>lymphorum.com</b>.
                                        </p>
                                        <p><b>
                                                Уже сейчас Вы можете подключиться к трансляции форума, ознакомиться с
                                                программой мероприятия, программами сателлитных симпозиумов и
                                                виртуальной выставкой, нажав на кнопку "Подключиться".
                                            </b>
                                        </p>

                                        <p style="text-align: center;" class="es-button-border"><b>
                                                <a href="{{ signedUrl }}" class="es-button" target="_blank">
                                                    Подключиться </a></b>

                                        </p>

                                        <p>
                                            Если по кнопке "Подключиться" система не авторизовала Вас автоматически,
                                            войдите на платформу используя Ваш адрес электронной почты.
                                        </p>

                                        <p style="text-align: center;">Ваш адрес электронной почты<br>
                                            <a href>{{ UserEmail }}</a>
                                        </p>

                                        <p>
                                            Все зарегистрированные участники смогут задавать вопросы экспертам
                                            и участвовать в дискуссии в чате.
                                        </p>

                                        <p>Документация по учебному мероприятию соответствует требованиям по оценке
                                            учебных материалов и мероприятий для НМО.
                                            На протяжении двух дней проведения форума в окне трансляции периодически
                                            будет появляться окно контроля присутствия. Для получения индивидуальных
                                            кодов подтверждения участия в форуме требуется пройти не менее 70 процентов
                                            контролей.
                                        </p>
                                        <p>
                                            <b>Для корректной работы платформы рекомендуется:</b><br>
                                            - отключить блокировщики рекламы;<br>
                                            - отключить отслеживание сайта форума в антивирусе;<br>
                                            - отключить VPN (критическое требование);<br>
                                            - не использовать автоматический перевод страниц;<br>
                                            - использовать последние версии современных браузеров (Google Chrome, Opera,
                                            Mozilla Firefox, Microsoft Edge);<br>
                                            - не использовать браузер Internet Explorer;<br>
                                            - использовать устройство с оперативной памятью не менее 1 ГБ, и
                                            интернет-соединением не менее 5 Мбит/с;<br>
                                            - онлайн платформа мероприятия адаптирована для подключения как с
                                            компьютера, так и с мобильного устройства<br>
                                            - при просмотре трансляции форума с мобильного устройства Вы можете
                                            увеличить окно трансляции. Для этого поверните экран устройства
                                            горизонтально, предварительно отключив
                                            блокировку книжной ориентации экрана в Настройках.<br>
                                        </p>
                                        <p>
                                            Трансляция «Лимфорума» будет дублироваться на сайтах rusoncohem.ru и
                                            med4share.ru <b>без возможности подтверждения присутствия для получения
                                                баллов
                                                НМО, <br>без возможности задавать вопросы экспертам и участвовать в
                                                дискуссии в чате.</b>
                                        </p>
                                        <p>Материалы «Лимфорума» и записи сателлитных симпозиумов будут доступны на
                                            портале lymphorum.com в течение 2х недель после окончания форума и на
                                            сайтах rusoncohem.ru и med4share.ru (без ограничения срока).<br>
                                        </p>
                                        <p>Будем рады встрече!</p>
                                        <p><b>
                                                Мы приветствуем очное присутствие посетителей на Лимфоруме, но в этом
                                                случае очень
                                                просим Вас для безопасности всех участников мероприятия
                                                провакцинироваться, либо
                                                провести ПЦР исследование на COVID-19 накануне нашей встречи.
                                            </b>
                                        </p>
                                        <p><br></p>
                                        <p><br></p>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center" class="esd-block-image" style="font-size:0">
                                        <img src="https://lymphorum.com/assets/img/email/footer.png" alt width="100%"
                                             height="100">
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
</td>