<td class="esd-stripe" align="center" bgcolor="#f8f9fd" style="background-color: #f8f9fd;">
    <table bgcolor="#ffffff" class="es-content-body" align="center" cellpadding="0" cellspacing="0" width="600">
        <tbody>
        <tr>
            <td class="esd-structure es-p10t es-p15b es-p30r es-p30l" align="left">
                <table cellpadding="0" cellspacing="0" width="100%">
                    <tbody>
                    <tr>
                        <td width="540" class="esd-container-frame" align="center" valign="top">
                            <table cellpadding="0" cellspacing="0" width="100%">
                                <tbody>
                                <tr>
                                    <td align="center" class="esd-block-image" style="font-size:0">
                                        <img src="https://lymphorum.com/assets/img/email/header2022.png" width="590"
                                             alt="TS Oncology"
                                             style="border-width:0;height:auto;display:block;max-width:599px;width:100%">
                                    </td>
                                </tr>
                                <tr>
                                    <td><br><br><br></td>
                                </tr>
                                <tr>
                                    <td align="left" class="esd-block-text">
                                        <p><b>{{ UserName }}</b>,</p>
                                        <p>Вы были успешно зарегистрированы на Интерактивный
                                            форум экспертов по
                                            вопросам
                                            диагностики и лечения лимфопролиферативных заболеваний <b>«Клинический
                                                Лимфорум»,</b> 
                                                который состоится <b>25-26 февраля 2022 года</b> для <b>онлайн участников</b> на платформе <b>lymphorum.com</b>, для
                                            <b>очных участников</b> по адресу: <b>г. Москва, 3-я улица Ямского Поля, 26А, гостиница Рэдиссон Блу Белорусская</b>.
                                        </p>
                                        <p><b>
                                                Уже сейчас Вы можете ознакомиться с программой мероприятия, программами 
                                                сателлитных симпозиумов и виртуальной выставкой, нажав на кнопку "Подключиться".
                                            </b>
                                        </p>

                                        <p style="text-align: center;" class="es-button-border"><b>
                                                <a href="{{ signedUrl }}" class="es-button" target="_blank">
                                                    Подключиться </a></b>

                                        </p>

                                        <p>
                                            Если по кнопке "Подключиться" система не авторизовала Вас автоматически,
                                            войдите на платформу используя Ваш адрес электронной почты.
                                        </p>

                                        <p style="text-align: center;">Ваш адрес электронной почты<br>
                                            <a href>{{ UserEmail }}</a>
                                        </p>

                                        <p>
                                            Подробная программа и условия очного участия по ссылке: <a href="http://med4share.ru/calendar/conf-20220225-26-01">http://med4share.ru/calendar/conf-20220225-26-01</a> 
                                        </p>
                                        
                                        <p>
                                            <b>Технические рекомендаций для корректной работы платформы доступны по ссылке:</b> <a href="http://med4share.ru/media/files/events/2022/lymphorum/Technical_Recomendations_lymphorum.pdf">http://med4share.ru/media/files/events/2022/lymphorum/Technical_Recomendations_lymphorum.pdf</a> 
                                        </p>

                                        <p><em>Документация по учебному мероприятию одобрена комиссией Координационного совета по развитию непрерывного медицинского и фармацевтического образования Министерства здравоохранения Российской Федерации.</em>
                                        </p>
                                        <p>
                                            Трансляция «Лимфорума» будет дублироваться на сайтах rusoncohem.ru и
                                            med4share.ru <b>без возможности подтверждения присутствия для получения
                                                баллов
                                                НМО, <br>без возможности задавать вопросы экспертам и участвовать в
                                                дискуссии в чате.</b>
                                        </p>
                                        <p>Материалы «Лимфорума» и записи сателлитных симпозиумов будут доступны на
                                            портале lymphorum.com в течение 2х недель после окончания форума и на
                                            сайтах rusoncohem.ru и med4share.ru (без ограничения срока).<br>
                                        </p>
                                        <p><br></p>
                                        <p><br></p>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center" class="esd-block-image" style="font-size:0">
                                        <img src="https://lymphorum.com/assets/img/email/footer2022.png" alt width="100%"
                                             height="100">
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
</td>