<td class="esd-stripe" align="center" bgcolor="#f8f9fd" style="background-color: #f8f9fd;">
    <table bgcolor="#ffffff" class="es-content-body" align="center" cellpadding="0" cellspacing="0" width="600">
        <tbody>
        <tr>
            <td class="esd-structure es-p10t es-p15b es-p30r es-p30l" align="left">
                <table cellpadding="0" cellspacing="0" width="100%">
                    <tbody>
                    <tr>
                        <td width="540" class="esd-container-frame" align="center" valign="top">
                            <table cellpadding="0" cellspacing="0" width="100%">
                                <tbody>
                                <tr>
                                    <td align="center" class="esd-block-image" style="font-size:0">
                                        <a target="_blank">
                                            <img class="adapt-img esdev-empty-img"
                                                 src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fcaramel-shop.com.ua%2Fp827511551-saharnaya-kartinka-lyubov.html&psig=AOvVaw35fa21Gmc6yU9dUY4SrI-a&ust=1624449184288000&source=images&cd=vfe&ved=0CAoQjRxqFwoTCLCUi_aWq_ECFQAAAAAdAAAAABAD"
                                                 alt width="100%" height="100" style="display: none;">
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="left" class="esd-block-text">
                                        <p><b>{{ UserName }}</b>, <br>
                                            Вы были успешно зарегистрированы на Интерактивный форум экспертов по
                                            вопросам диагностики и лечения лимфопролиферативных заболеваний
                                            «Лимфорум»,<br>
                                            который состоится 17-18 сентября 2021 года на портале lymphorum.com.
                                        </p>
                                        <p>
                                            Уже сейчас Вы можете подключиться к трансляции форума, ознакомиться с
                                            программой мероприятия, программами сателлитных симпозиумов и виртуальной
                                            выставкой, нажав на кнопку "Подключиться".
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center" class="esd-block-button">
                                                    <span class="es-button-border">
                                                        <a href="{{ signedUrl }}" class="es-button" target="_blank"> Подключиться </a>
                                                    </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="left" class="esd-block-text">
                                        <p>Принять участие в форуме возможно из любой точки мира как с компьютера, так и
                                            с мобильного устройства.<br>
                                            Если по кнопке «Подключиться» система не авторизировала вас автоматически,
                                            то на странице входа на платформу в поле «Почта» введите:<br></p>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="left" class="esd-block-text">
                                        <p style="text-align: center;">Ваш адрес электронной почты<br>
                                            <a href>{{ UserEmail }}</a>
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="left" class="esd-block-text">
                                        <p>Форум будет транслироваться в онлайн формате.<br>
                                            Все зарегистрированные участники смогут задать вопросы экспертам в чате.
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p>
                                            По данному мероприятию подана заявка в координационный совет НМО.<br>
                                            На протяжении двух дней проведения форума в окне трансляции периодически
                                            будет появляться окно контроля присутствия.<br>
                                            Для получения индивидуальный кодов подтверждения участия в форуме требуется
                                            пройти не менее 70 процентов контролей.<br>
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p>
                                            Для корректной работы платформы рекомендуется:<br>
                                            - отключить блокировщики рекламы;<br>
                                            - отключить отслеживание сайта форума в антивирусе;<br>
                                            - отключить VPN (критическое требование);<br>
                                            - не использовать автоматический перевод страниц;<br>
                                            - использовать последние версии современных браузеров (Google Chrome, Opera,
                                            Mozilla Firefox, Microsoft Edge);<br>
                                            - не использовать браузер Internet Explorer;<br>
                                            - использовать устройство с оперативной памятью не менее 1 ГБ, и
                                            интернет-соединением не менее 5 Мбит/с;<br>
                                            - при просмотре трансляции форума с мобильного устройства Вы можете
                                            увеличить окно трансляции.<br>
                                            Для этого поверните экран устройства горизонтально, предварительно отключив
                                            блокировку книжной ориентации экрана в Настройках.<br>
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p>
                                            Трансляция «Лимфорума» будет дублироваться на сайтах rusoncohem.ru и
                                            med4share.ru без возможности подтверждения присутствия для получения баллов
                                            НМО, <br>без возможности задавать вопросы экспертам и участвовать в
                                            дискуссии в чате.
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p>Материалы «Лимфорума» и записи сателлитных симпозиумов будут доступны на
                                            портале lymphorum.com в течение 2х недель после окончания форума<br> и на
                                            сайтах rusoncohem.ru и med4share.ru (без ограничения срока).<br><br><br>
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td><p>Будем рады встрече!<br><br><br></p></td>
                                </tr>
                                <tr>
                                    <td>
                                        <p>
                                            Вы получили это письмо, так как являетесь зарегистрированным участником
                                            Лимфорума.
                                        </p>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
</td>