<td class="esd-stripe" align="center" bgcolor="#f8f9fd" style="background-color: #f8f9fd;">
    <table bgcolor="#ffffff" class="es-content-body" align="center" cellpadding="0" cellspacing="0" width="600">
        <tbody>
        <tr>
            <td class="esd-structure es-p10t es-p15b es-p30r es-p30l" align="left">
                <table cellpadding="0" cellspacing="0" width="100%">
                    <tbody>
                    <tr>
                        <td width="540" class="esd-container-frame" align="center" valign="top">
                            <table cellpadding="0" cellspacing="0" width="100%">
                                <tbody>
                                <tr>
                                    <td align="center" class="esd-block-image" style="font-size:0">
                                        <img src="https://conferenceml.com/assets/img/email/header_new.png" width="590"
                                             alt="TS Oncology"
                                             style="border-width:0;height:auto;display:block;max-width:599px;width:100%">
                                    </td>
                                </tr>
                                <tr>
                                    <td><br><br><br></td>
                                </tr>
                                <tr>
                                    <td align="left" class="esd-block-text">
                                        <p><b>{{ UserName }}</b>,</p>
                                        <p>Вы были успешно зарегистрированы на <b>XVIII Российскую конференцию с
                                                международным участием «Злокачественные лимфомы»,</b>
                                            которая состоится <b>14-15 октября 2021 года</b> для <b>очных участников</b>
                                            по адресу: <b>г. Москва, Площадь Европы, 2, Гостиница Рэдиссон
                                                Славянская</b>,
                                            а для <b>онлайн участников</b> на платформе <b>conferenceml.com</b>.
                                        </p>

                                        <p>Платформа конференции будет открыта 12 октября 2021 года. На указанный при
                                            регистрации адрес электронной почты Вам будет выслано письмо с уникальной
                                            ссылкой для входа на платформу.
                                        </p>
                                        <p>
                                            В связи с эпидемиологической обстановкой организационным комитетом
                                            конференции
                                            было принято решение о создании <b>COVID-free зоны</b> на всей территории
                                            конференции.<br>
                                            Вход очных участников будет возможен только при предъявлении паспорта и
                                            специального QR-кода
                                            (полная вакцинация от Covid-19 или ПЦР-исследование, сделанное не ранее 3-х
                                            дней до конференции),
                                            просим учитывать это при регистрации и последующем посещении конференции.
                                        </p>
                                        <p>
                                            Документация по учебному мероприятию подана на рассмотрение в комиссию
                                            Координационного совета по развитию непрерывного медицинского и
                                            фармацевтического образования Министерства здравоохранения Российской
                                            Федерации.
                                        </p>
                                        <p>
                                            <b>Для корректной работы платформы рекомендуется:</b><br>
                                            - отключить блокировщики рекламы;<br>
                                            - отключить отслеживание сайта форума в антивирусе;<br>
                                            - отключить VPN (критическое требование);<br>
                                            - не использовать автоматический перевод страниц;<br>
                                            - использовать последние версии современных браузеров (Google Chrome, Opera,
                                            Mozilla Firefox, Microsoft Edge);<br>
                                            - не использовать браузер Internet Explorer;<br>
                                            - использовать устройство с оперативной памятью не менее 1 ГБ, и
                                            интернет-соединением не менее 5 Мбит/с;<br>
                                            - онлайн платформа мероприятия адаптирована для подключения как с
                                            компьютера, так и с мобильного устройства<br>
                                            - при просмотре трансляции конференции с мобильного устройства Вы можете
                                            увеличить окно трансляции. Для этого поверните экран устройства
                                            горизонтально, предварительно отключив
                                            блокировку книжной ориентации экрана в Настройках.<br>
                                        </p>
                                        <p>
                                            Трансляция конференции будет дублироваться на сайтах rusoncohem.ru и
                                            med4share.ru <b>без возможности подтверждения присутствия для получения
                                                баллов
                                                НМО, <br>без возможности задавать вопросы экспертам и участвовать в
                                                дискуссии в чате.</b>
                                        </p>
                                        <p>Материалы конференции и записи сателлитных симпозиумов будут доступны на
                                            портале conferenceml.com в течение 2х недель после окончания форума и на
                                            сайтах rusoncohem.ru и med4share.ru (без ограничения срока).<br>
                                        </p>
                                        <p>Будем рады встрече!</p>
                                        <p><br></p>
                                        <p><br></p>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center" class="esd-block-image" style="font-size:0">
                                        <img src="https://conferenceml.com/assets/img/email/footer_new.png" alt
                                             width="100%"
                                             height="100">
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
</td>