{% block body %}
    <div class="modal fade" id="messageRegistrationModal" tabindex="-1" aria-labelledby="messageRegistrationLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="messageRegistrationLabel">{{ message }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>
                        На указанную Вами почту было отправлено письмо с подтверждение регистрации.<br>
                        <em>
                            Если Вы не можете найти письмо,<br>
                            проверьте, пожалуйста, папку "Спам".
                        </em>
                    </p>
                    <p>
                        Если Вам не пришло письмо, пожалуйста, направьте обращение в поддержку,<br>
                        нажав на кнопку "Помощь" на странице регистрации.
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-fill" data-bs-dismiss="modal">Закрыть</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        let messageRegistrationModal = document.getElementById('messageRegistrationModal');
        let regModal = new bootstrap.Modal(messageRegistrationModal);
        regModal.show();
    </script>
{% endblock %}
