{% extends 'main/base.html.twig' %}

{% block title %}{{ title }}{% endblock %}
{% block body %}
    <div class="main-block">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-12">
                    <div class="broadcast-live">
                        <iframe width="800" height="600" src="https://www.youtube.com/embed/6-4UX4Poa8I?rel=0" allow="autoplay; encrypted-media" donotallowfullscreen></iframe>
                    </div>
                    {% set questions = questions %}
                    {% include 'main/question_speaker/index.html.twig' with {questions: questions} %}
                </div>
                <div class="col-md-3 col-lg-3 d-none d-lg-block">
                    <div class="chatroom">
                        <h1>Broadcast chat</h1>
                        <ul id="chat-list">
                            <li>24 : czxcxz</li>
                            <li>24 : xzcxzcz</li>
                            <li>24 : zxczxc</li>
                            <li>24 : ssafasf</li>
                            <li>24 : asfasf</li>
                            <li>24 : test</li>
                        </ul>
                        <hr>
                        <textarea id="form-message" placeholder="Your public message here"></textarea>
                        <input class="btn btn-secondary" type="button" id="form-submit" value="Send message">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="fade modal modalControl" id="modalControl" data-bs-backdrop="static" data-bs-keyboard="false"
         tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h5 class="modal-title">Вы смотрите трансляцию?</h5>
                    <button type="button" class="btn btn-success">Подтвердите присутствие</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        // var myModal = new bootstrap.Modal(document.getElementById('modalControl'));
        //
        // setInterval(function () {
        //     myModal.show();
        // }, 5000);

        setInterval(function () {
            $.ajax({
                url: '{{ (path('app_question_ajax')) }}',
                type: "POST",
                dataType: "json",
                data: {
                    "chatRoomId": {{ chatid }} // Данные которые отправляем на сервер posterId
                },
                async: true,
                success: function (data) {
                    let output = data.output;
                    let idArray = Object.keys(output);
                    for (let i = 0; i < idArray.length; i++) {
                        let id = "broadcast-question-id-" + idArray[i];
                        if (!document.getElementById(id)) {
                            let divBroadcast = document.createElement("div");
                            divBroadcast.className = "broadcast-questions-item";
                            divBroadcast.setAttribute("id", id);
                            let span = document.createElement("span");
                            span.innerHTML = output[idArray[i]]['fio'];
                            let divQuestion = document.createElement("div");
                            divQuestion.innerHTML = output[idArray[i]]['content'];
                            divBroadcast.prepend(divQuestion);
                            divBroadcast.prepend(span);
                            let broadQuestTitle = document.getElementById('broadcast-questions-title-id');
                            broadQuestTitle.after(divBroadcast);
                        }
                    }
                    $('div#ajax-results').html(data.output);
                }
            });
        }, 5000);
    </script>
    {% set submit_url = path('app_broadcast', {'chatid': chatid}) %}
    {% include 'main/question_speaker/form.html.twig' with {url: submit_url} %}
{% endblock %}
