{% extends 'main/base.html.twig' %}

{% block title %}{{ title }}{% endblock %}
{% block body %}
    <div class="main-block">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-12">
                    <div class="broadcast-live">
                        <img src="assets/img/broadcast/fon.jpg">
                    </div>
                    <div class="broadcast-bottom">
                        <div class="row">
                            <div class="col-md-3">
                                <div>Задайте вопрос спикерам</div>
                                <a href="javascript:void(0);" class="btn btn-outline-secondary"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-question-circle" viewBox="0 0 16 16">
                                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                        <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
                                    </svg> Задать вопрос</a>
                            </div>
                            <div class="col-md-9">
                                <div class="broadcast-questions-title">Вопросы спикерам:</div>
                                <div class="broadcast-questions-item">
                                    <span>Иван Иванов</span>
                                    <div>А как вы лечите пациентов?</div>
                                </div>
                                <div class="broadcast-questions-item">
                                    <span>Иван Иванов</span>
                                    <div>А как вы лечите пациентов?</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-lg-3 d-none d-lg-block">
                    <div class="chatroom">
                        <h1>Public chat</h1>
                        <ul id="chat-list">
                            <li>24 : czxcxz</li>
                            <li>24 : xzcxzcz</li>
                            <li>24 : zxczxc</li>
                            <li>24 : ssafasf</li>
                            <li>24 : asfasf</li>
                            <li>24 : test</li>
                        </ul>
                        <hr>
                        <textarea id="form-message" placeholder="Your public message here"></textarea>
                        <input class="btn btn-secondary" type="button" id="form-submit" value="Send message">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="fade modal modalControl" id="modalControl" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h5 class="modal-title">Вы смотрите трансляцию?</h5>
                    <button type="button" class="btn btn-success">Подтвердите присутствие</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        var myModal = new bootstrap.Modal(document.getElementById('modalControl'));

        setInterval(function(){
            myModal.show();
        }, 5000);
    </script>
{% endblock %}
