{% extends 'main/base.html.twig' %}

{% block title %}{{ title }}{% endblock %}
{% block body %}
    <div class="main-block">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="main-block-left">
                        <h5 class="nmo-title"><b>Как получить образовательные кредиты НМО?</b></h5>
                        <h6>Документация по учебному мероприятию одобрена комиссией Координационного совета по развитию непрерывного медицинского и фармацевтического образования Министерства здравоохранения Российской Федерации.</h6>
                        <h6>
                        За каждый из дней «Лимфорума» участник может получить 6 образовательных кредитов НМО, при 
                        соблюдении указанных ниже требований.</h6>
                        <ul>
                            <li><u>Контроль присутствия аудиторных участников</u>: регистрация участников на стойке. 
                            Выдача зарегистрированным участникам свидетельств НМО о прохождении обучения по окончании 
                            мероприятия (за каждый из дней «Лимфорума»)
                            </li>
                            <li><u>Контроль присутствия онлайн-участников</u>: осуществляется путем нажатия на всплывающую кнопку. 
                            Пользователь должен подтвердить свое присутствие: 25 февраля - не менее чем на 6 контролях; 
                            26 февраля – не менее чем на 6 контролях
                            </li>
                            <li>Минимальный порог присутствия: 25 февраля – 300 мин, 26 февраля – 280 мин научно-практической части программы 
                            (спонсорские лекции не учитываются)</li>
                            <li>Участники конференции имеют право на получение образовательных кредитов НМО только при просмотре прямой 
                            трансляции онлайн-конференции на сайте lymphorum.com</li>
                            <li>В случае проблем с подключением рекомендуем обращаться на электронный адрес info@tsoncology.com
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 d-none d-lg-block">
                    <div data-bs-toggle="modal" data-bs-target="#politicModal" class="threed">
                    <img src="/uploads/news/cv-free.png">
                    <br><p></p></div>
                    <div>{% include 'main/news/index.html.twig' with news %}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="politicModal" tabindex="-1" aria-labelledby="politicModalLabel" aria-hidden="true">
            <div class="modal-dialog registration-modal">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="politicModalLabel">COVID-free зона</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>Вся территория мероприятия «Лимфорум» является COVID-free зоной.</p>
                        <p>Очное участие возможно только при предъявлении паспорта и QR-кода (вакцинация от COVID-19 / QR-код переболевшего или ПЦР-исследование, 
                        сделанное не ранее 3-х дней до «Лимфорума»).</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-fill" data-bs-dismiss="modal">Закрыть</button>
                    </div>
                </div>
            </div>
    </div>
{% endblock %}
