{% extends 'main/base.html.twig' %}

{% block title %}{{ title }}{% endblock %}
{% block body %}
    <div class="main-block">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="main-block-left">
                        <h5><b>Как получить образовательные кредиты НМО?</b></h5>
                        <h6><em>Документация по учебному мероприятию одобрена комиссией
                            Координационного совета по развитию непрерывного медицинского и фармацевтического
                                образования Министерства здравоохранения Российской Федерации.</em><br>
                        <br>За каждый из дней конференции участник может получить 6 образовательных кредитов НМО,
                            при соблюдении указанных ниже требований.</h6>
                        <ul>
                            <li><u>Контроль присутствия аудиторных участников:</u> регистрация участников на стойке.
                                Выдача зарегистрированным участникам свидетельств НМО о прохождении
                                обучения по окончании мероприятия (за каждый из дней конференции)
                            </li>
                            <li><u>Контроль присутствия онлайн-участников:</u> осуществляется путем нажатия на всплывающую кнопку.
                                Пользователь должен подтвердить свое присутствие: 14 октября - не менее чем на 6 контролях;
                                15 октября – не менее чем на 4 контролях.
                            </li>
                            <li>Минимальный порог присутствия: 14 октября – 290 мин, 15 октября – 200 мин научно-практической
                                части программы (спонсорские лекции не учитываются).
                            </li>
                            <li>Онлайн участники конференции имеют право на получение образовательных кредитов НМО только при просмотре
                                прямой трансляции конференции на сайте conferenceml.com
                            </li>
                            <li>В случае проблем с подключением рекомендуем обращаться на электронный адрес
                                info@tsoncology.com
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 d-none d-lg-block">
                    {% include 'main/news/index.html.twig' with news %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
