<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}platform{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('assets/framework/bootstrap-5.0.1/css/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/main.css') }}">
    {% endblock %}

    {% block javascripts %}
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"
                integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
                crossorigin="anonymous">
        </script>
        <script src="{{ asset('assets/framework/bootstrap-5.0.1/js/bootstrap.js') }}"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                $('label').remove();
            });
        </script>
    {% endblock %}
</head>
<body>
{% block header %}
    <header>
        <div class="container">
            <div class="header-banner">
                <img src="">
            </div>
            <nav>
                <a href="javascript:void(0);" class="nav-link">Приветствие</a>
                <a href="javascript:void(0);" class="nav-link">Организаторы</a>
                <a href="javascript:void(0);" class="nav-link">Выставка</a>
                <a href="javascript:void(0);" class="nav-link">Программа</a>
                <a href="javascript:void(0);" class="nav-link">Трансляция</a>
                <a href="javascript:void(0);" class="nav-link">Материалы</a>
                <a href="javascript:void(0);" class="nav-link">Частые вопросы</a>
            </nav>
        </div>
    </header>
{% endblock %}
{% block body %}
{% endblock %}
</body>
</html>
