{% extends 'main/base.html.twig' %}

{% block title %}{{ title }}{% endblock %}
{% block body %}
    <div class="main-block">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="main-block-left">
                        <p>Дорогие коллеги!</p>
                        <p>Путешествие от мечты о роскошном доме к настоящему, эксклюзивному интерьеру начинается вместе со Studia 54. Представляем продолжение нашего масштабного проекта коттеджа с гостевым домом в Репино, под Санкт-Петербургом – ультра-модный интерьер главного дома. После окончания строительства дома мы приступили к дизайну интерьера.…</p>
                        <p>Путешествие от мечты о роскошном доме к настоящему, эксклюзивному интерьеру начинается вместе со Studia 54. Представляем продолжение нашего масштабного проекта коттеджа с гостевым домом в Репино, под Санкт-Петербургом – ультра-модный интерьер главного дома. После окончания строительства дома мы приступили к дизайну интерьера.…</p>
                        <p>Путешествие от мечты о роскошном доме к настоящему, эксклюзивному интерьеру начинается вместе со Studia 54. Представляем продолжение нашего масштабного проекта коттеджа с гостевым домом в Репино, под Санкт-Петербургом – ультра-модный интерьер главного дома. После окончания строительства дома мы приступили к дизайну интерьера.…</p>
                        <p>Благодаря большой работе...</p>
                        <p>Ждем Вас на Лимфоруме 26-27 февраля!</p>
                        <p>Академик РАН <br> И.В. Поддубная</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="chatroom">
                        <h1>Public chat</h1>
                        <ul id="chat-list">
                            <li>24 : czxcxz</li>
                            <li>24 : xzcxzcz</li>
                            <li>24 : zxczxc</li>
                            <li>24 : ssafasf</li>
                            <li>24 : asfasf</li>
                            <li>24 : test</li>
                        </ul>
                        <hr>
                        <textarea id="form-message" placeholder="Your public message here"></textarea>
                        <input class="btn btn-secondary" type="button" id="form-submit" value="Send message">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
