{% extends 'main/base.html.twig' %}

{% block title %}{{ title }}{% endblock %}
{% block body %}
    <div class="main-block programs-page">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-12">
                    <div class="program-header d-none d-lg-flex">
                        <div class="program-date">
                            <a href="{{ path('app_main_home_programms17') }}" class="btn btn-fill ">17 сентября</a>
                            <a href="#sat18" class="btn btn-fill active">18 сентября</a>
                        </div>
                    </div>
                    <div class="programs-logo">
                        <div class="programs-logo-img">
                            <img src="/assets/img/prog-logo1.jpg">
                            <img src="/assets/img/prog-logo2.jpg">
                        </div>
                        <div class="programs-logo-text">
                            <div class="programs-title d-none d-lg-block" id="prog1">
                                18 сентября 2021 г. 16:00-17:15
                            </div>
                            <div class="programs-title d-none d-lg-block">
                                <p>ателлитный симпозиум компании Бристол Майрес Сквибб</p>
                                <p>«Новое десятилетие: стратегии иммунного лечения в ММ»</p>
                                <p>Председатели: И.В.Поддубная, Л.П. Менделеева</p>
                            </div>
                        </div>
                    </div>
                    <div class="program-table d-none d-lg-block">
                        <div class="program-table-scroll">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>Время</th>
                                    <th>Лектор</th>
                                    <th colspan="3">Название</th>
                                    <th>Место</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td nowrap="">16:00 – 16:10</td>
                                    <td nowrap="">Поддубная И.В.<br>Москва</td>
                                    <td colspan="3">Вступительное слово</td>
                                    <td rowspan="4">Конференц-зал<br><b>«Вивальди»</b></td>
                                </tr>
                                <tr>
                                    <td nowrap="">16:10 – 16:30</td>
                                    <td nowrap="">Менделеева Л.П.<br>Италия</td>
                                    <td colspan="3">Современные подходы к терапии ММ и взгляд в будущее</td>
                                </tr>
                                <tr>
                                    <td nowrap="">16:30 – 16:50</td>
                                    <td nowrap="">Семочкин С.В.<br>Москва</td>
                                    <td colspan="3">Биологические и молекулярные аспекты механизмов действия и синергии
                                        иммуномодулирующих препаратов и анти CD38 антител
                                    </td>
                                </tr>
                                <tr>
                                    <td nowrap="">16:50 – 17:10</td>
                                    <td nowrap="">Соловьев М.В.<br>Москва</td>
                                    <td colspan="3">Стратегии в лечении рецидивов ММ. Новые данные и клиническая
                                        практика
                                    </td>
                                </tr>
                                <tr>
                                    <td nowrap="">17:10 – 17: 30</td>
                                    <td nowrap="">
                                        Все участники
                                    </td>
                                    <td colspan="3">
                                        Вопросы.<br>Обсуждение.<br Заключение.
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 d-none d-lg-block">
                    {% include 'main/news/index.html.twig' with news %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
