{% extends 'main/base.html.twig' %}

{% block title %}{{ title }}{% endblock %}
{% block body %}
    <div class="main-block programs-page">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-12">
                    <div class="program-header">
                        <div class="program-date">
                            <a href="{{ path('app_main_home_symposium17') }}" class="btn btn-fill ">17 сентября</a>
                            <a href="#sat18" class="btn btn-fill active">18 сентября</a>
                        </div>
                    </div>
                    <div class="programs-logo">
{#                        <div class="programs-logo-img">#}
{#                            <img src="/assets/img/prog-logo1.jpg">#}
{#                            <img src="/assets/img/prog-logo2.jpg">#}
{#                        </div>#}
                        <div class="programs-logo-text">
                            <div class="programs-title" id="prog1">
                                18 сентября 2021 г.
                            </div>
                        </div>
                    </div>
                    <div class="program-table">
                        <div class="symposium-row">
                            <div>16:00-17:15</div>
                            <div>Конференц-зал «Вивальди»</div>
                        </div>
                        <div class="symposium-title">
                            <div>Сателлитный симпозиум компании Бристол Майрес Сквибб</div>
                            «Новое десятилетие: стратегии иммунного лечения в ММ»
                        </div>
                        <p>Председатели: И.В.Поддубная, Л.П. Менделеева</p>
                        <ul class="symposium-list">
                            <li>
                                <span>16:00 – 16:10</span>
                                <span>Вступительное слово <br>И.В. Поддубная </span>
                            </li>
                            <li>
                                <span>16:10 – 16:30</span>
                                <span>«Современные подходы к терапии ММ и взгляд в будущее»<br>
Л.П. Менделеева</span>
                            </li>
                            <li>
                                <span>16:30 – 16:50</span>
                                <span>«Биологические и молекулярные аспекты механизмов действия и синергии иммуномодулирующих препаратов и анти CD38 антител» <br>С.В. Семочкин</span>
                            </li>
                            <li>
                                <span>16:50 – 17:10</span>
                                <span>«Стратегии в лечении рецидивов ММ. Новые данные и клиническая практика» <br>Соловьев М.В. </span>
                            </li>
                            <li>
                                <span>17:10 – 17: 30</span>
                                <span>Вопросы. Обсуждение. Заключение. <br>Все участники </span>
                            </li>
                        </ul>
                        <a href="/broadcast" class="btn btn-bluez">Подключиться к онлайн трансляции</a>
                    </div>
                </div>
                <div class="col-lg-3 d-none d-lg-block">
                    {% include 'main/news/index.html.twig' with news %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
