{% extends 'main/base_without_menu.html.twig' %}

{% block title %}{{ title }}{% endblock %}
{% block body %}
    <div class="main">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>
                        Регистрация на Интерактивный форум экспертов по вопросам диагностики и лечения
                        лимфопролиферативных заболеваний «Лимфорум» откроется 1 сентября 2021 года
                    </h1>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
