{% extends 'main/base.html.twig' %}

{% block title %}{{ title }}{% endblock %}
{% block body %}
    <div class="main-block">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-12">
                    <div class="program-date">
                        <a href="javascript:void(0);" class="btn btn-secondary active">26 февраля</a>
                        <a href="javascript:void(0);" class="btn btn-secondary">27 февраля</a>
                    </div>
                    <div class="program-table">
                        <div class="program-table-scroll">
                            <table class="table border border-secondary table-bordered">
                                <thead>
                                <tr>
                                    <th scope="col">Время</th>
                                    <th scope="col">Лектор</th>
                                    <th scope="col">Название</th>
                                    <th scope="col">Эксперт 1</th>
                                    <th scope="col">Эксперт 2</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>09:00 – 09:15</td>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>@mdo</td>
                                </tr>
                                <tr>
                                    <td>09:00 – 09:15</td>
                                    <td>Jacob</td>
                                    <td>Thornton</td>
                                    <td>@fat</td>
                                </tr>
                                <tr>
                                    <td>09:00 – 09:15</td>
                                    <td colspan="2">Larry the Bird</td>
                                    <td>@twitter</td>
                                </tr>
                                <tr class="table-break">
                                    <td>13:00 – 14:00</td>
                                    <td colspan="4">Перерыв</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <a href="javascript:void(0);" class="btn btn-primary">Подключиться к онлайн трансляции</a>
                    </div>
                    <div class="program-table">
                        <div class="program-table-scroll">
                            <table class="table border border-secondary table-bordered">
                                <thead>
                                <tr>
                                    <th scope="col">Время</th>
                                    <th scope="col">Лектор</th>
                                    <th scope="col">Название</th>
                                    <th scope="col">Эксперт 1</th>
                                    <th scope="col">Эксперт 2</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>09:00 – 09:15</td>
                                    <td>MarkMarkMarkMarkMarkMarkMark
                                        MarkMarkMarkMarkMarkMarkMarkMarkMarkMarkMarkMarkMarkMarkMarkMarkMarkMarkMarkMarkMark
                                    </td>
                                    <td>Otto</td>
                                    <td>@mdo</td>
                                </tr>
                                <tr>
                                    <td>09:00 – 09:15</td>
                                    <td>Jacob</td>
                                    <td>Thornton</td>
                                    <td>@fat</td>
                                </tr>
                                <tr>
                                    <td>09:00 – 09:15</td>
                                    <td colspan="2">Larry the Bird</td>
                                    <td>@twitter</td>
                                </tr>
                                <tr class="table-break">
                                    <td>13:00 – 14:00</td>
                                    <td colspan="4">Перерыв</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <a href="javascript:void(0);" class="btn btn-primary">Подключиться к онлайн трансляции</a>
                    </div>
                    <div class="program-dop">
                        <div class="program-dop-item">
                            <div class="program-dop-item-time">
                                13:00 – 14:00
                            </div>
                            <div class="program-dop-item-title">
                                Сателлитный симпозиум компании Сателлитный симпозиум компании
                            </div>
                            <a href="javascript:void(0);" class="btn btn-primary">Подключиться к онлайн трансляции</a>
                        </div>
                        <div class="program-dop-item">
                            <div class="program-dop-item-time">
                                13:00 – 14:00
                            </div>
                            <div class="program-dop-item-title">
                                Сателлитный симпозиум компании Сателлитный симпозиум компании
                            </div>
                            <a href="javascript:void(0);" class="btn btn-primary">Подключиться к онлайн трансляции</a>
                        </div>
                        <div class="program-dop-item">
                            <div class="program-dop-item-time">
                                13:00 – 14:00
                            </div>
                            <div class="program-dop-item-title">
                                Сателлитный симпозиум
                            </div>
                            <a href="javascript:void(0);" class="btn btn-primary">Подключиться к онлайн трансляции</a>
                        </div>
                        <div class="program-dop-item">
                            <div class="program-dop-item-time">
                                13:00 – 14:00
                            </div>
                            <div class="program-dop-item-title">
                                Сателлитный симпозиум компании Сателлитный симпозиум компании
                            </div>
                            <a href="javascript:void(0);" class="btn btn-primary">Подключиться к онлайн трансляции</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 d-none d-lg-block">
                    <div class="chatroom">
                        <h1>Public chat</h1>
                        <ul id="chat-list">
                            <li>24 : czxcxz</li>
                            <li>24 : xzcxzcz</li>
                            <li>24 : zxczxc</li>
                            <li>24 : ssafasf</li>
                            <li>24 : asfasf</li>
                            <li>24 : test</li>
                        </ul>
                        <hr>
                        <textarea id="form-message" placeholder="Your public message here"></textarea>
                        <input class="btn btn-secondary" type="button" id="form-submit" value="Send message">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
