{% extends 'main/base.html.twig' %}

{% block title %}{{ title }}{% endblock %}
{% block body %}
    <div class="main-block">
        <div class="container">
            <div class="row">
                <div class="col-12">
    <div class="white_block">

        <div class="row justify-center">
            <div class="col-12 spon-title">
                Генеральные спонсоры
            </div>
            <div class="col-12">

            </div>
        </div>

        <div class="row justify-center">
    </div>
                </div>
            </div>
        </div>
    </div>
            </div>
        </div>
    </div>
    </div>

            </div>
        </div>
    </div>
    <script>
        console.log('vps');
    </script>
{% endblock %}
