{% extends 'main/base.html.twig' %}

{% block title %}{{ title }}{% endblock %}
{% block body %}
    <div class="main-block programs-page">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-12">
                    <div class="program-date d-none d-lg-block">
                        <a href="javascript:void(0);" class="btn btn-fill active">26 февраля</a>
                        <a href="javascript:void(0);" class="btn btn-fill">27 февраля</a>
                    </div>
                    <div class="programs-title">17 сентября 2021 г.</div>
                    <div class="programs-title">Председатель: Поддубная Ирина Владимировна, академик РАН, проф., проректор по лечебной работе и международному сотрудничеству, заведующая кафедрой онкологии и паллиативной медицины им. акад. А.И. Савицкого ФГБОУ ДПО РМАНПО Минздрава России, председатель Российского профессионального общества онкогематологов, Москва</div>
                    <div class="program-table d-none d-lg-block">
                        <div class="program-table-scroll">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>Время</th>
                                    <th>Лектор</th>
                                    <th>Название</th>
                                    <th>Эксперт-патоморфолог</th>
                                    <th colspan="2">Эксперт-клиницист</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td nowrap="">09:00 - 09:10</td>
                                    <td nowrap="">Поддубная И.В.<br>Москва</td>
                                    <td colspan="4"><!--a href="/video-20200925-01">Вступительное слово</a><-->Вступительное слово</td>
                                </tr>
                                <tr>
                                    <td colspan="6"><center><b>Сессия I. Разбор клинических случаев по вопросам лечения ЛХ</b><br>Модератор – Демина Е.А.</center></td>
                                </tr>
                                <tr>
                                    <td>09:10 - 10:00</td>
                                    <td>Борзенкова Е.С.<br>Санкт-Петербург</td>
                                    <td><!--a href="/video-20200925-02">Терапия ХЛЛ 1 линии, осложненная развитием хилоторакса</a><-->Терапия ЛХ с развитием иммуноопосредованного колита</td>
                                    <td nowrap="">Байков В.В.<br>Санкт-Петербург</td>
                                    <td>Капланов К.Д.<br>Москва</td>
                                    <td rowspan="2">Головенко А.О.<br>Москва</td>
                                </tr>
                                <tr>
                                    <td>10:00 - 11:10</td>
                                    <td>Нестерова Е.С.<br>Москва</td>
                                    <td><!--a href="/video-20200925-03">Современные возможности терапии ХЛЛ</a><-->Терапия ЛХ с развитием иммуноопосредованного панкреатита</td>
                                    <td>Ковригина А.М.<br>Москва</td>
                                    <td>Лепик К.В.<br>Санкт-Петербург</td>
                                </tr>
                                <tr>
                                    <td>11:10 - 11:30</td>
                                    <td colspan="5"><center><em>Перерыв</em></center></td>
                                </tr>
                                <tr>
                                    <td colspan="6"><center><b>Сессия II. Разбор клинических случаев по вопросам лечения НХЛ</b><br>Модератор – Воробьев В.И.</center></td>
                                </tr>
                                <tr>
                                    <td>11:30 - 12:00</td>
                                    <td nowrap="">Gianluca Gaidano<br>Италия</td>
                                    <td colspan="4"><!--a href="/video-20200925-04">АнтиCD38 -препараты в терапии ММ </a><-->Современные подходы к терапии лимфомы из клеток мантии</td>
                                </tr>
                                <tr><td>12:00 - 13:00</td>
                                    <td nowrap="">Хусаинова  Г.Р.<br>Казань</td>
                                    <td><!--a href="/video-20200925-04">Современные подходы к терапии рецидивов ММ </a><-->Современные походы к терапии ФЛ</td>
                                    <td>Ковригина А.М.<br>Москва</td>
                                    <td colspan="2">Фалалеева Н.А.<br></td>
                                </tr>
                                <tr>
                                    <td>13:00 - 13:30</td>
                                    <td nowrap="">Саржевский В.О.<br>Москва</td>
                                    <td colspan="4"></td>
                                </tr>
                                <tr>
                                    <td>13:45 - 15:00</td>
                                    <td colspan="2"><center><em>Сателлитный симпозиум</em></center></td>
                                    <td colspan="3"><center><em>Сателлитный симпозиум</em></center></td>
                                </tr>
                                <tr>
                                    <td colspan="6"><center><b>Сессия III. Разбор клинических случаев по вопросах лечения ХЛЛ</b><br>Модератор – Самойлова О.С.</center></td>
                                </tr>
                                <!--tr-->
                                <tr><td>15:00 - 16:00</td>
                                    <td>Пискунова И.С.<br>Москва</td>
                                    <td><!--a href="/video-20200925-07">Медиастинальная лимфома серой зоны</a><-->В-ХЛЛ/МКЛ с нетипичным клиническим течением</td>
                                    <td>Ковригина А.М.<br>Москва</td>
                                    <td colspan="2">Иванова М.О.<br>Москва</td>
                                </tr>
                                <tr>
                                    <td>16:00 - 17:00</td>
                                    <td nowrap="">Валиахметова Ч.Х.<br>Уфа</td>
                                    <td><!--a href="/video-20200925-08">Лимфома Ходжкина – алло-ТКМ после терапии ингибиторами иммунных чек-пойнтов</a><-->Клиническое  течение  и  терапия  хронического  лимфолейкоза с  неблагоприятным  прогнозом  на фоне  новой  коронавирусной  инфекции</td>
                                    <td><br></td>
                                    <td colspan="2">Бялик Т.Е.<br>Москва</td>
                                </tr>
                                <tr>
                                    <td>17:00 - 18:00</td>
                                    <td colspan="3">Follow up – Лимфорум, февраль 2021: «ХЛЛ и кожная токсичность и таргетная терапия? Или конкурирующая патология?»</td>
                                    <td nowrap="">Стадник Е.А.<br>Санкт-Петербург</td>
                                    <td nowrap="">Байков В.В.<br>Санкт-Петербург</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <a href="javascript:void(0);" class="btn btn-bluez">Подключиться к онлайн трансляции</a>
                    </div>
                    <div class="programs-title">18 сентября 2021 г. </div>
                    <div class="program-table d-none d-lg-block">
                        <div class="program-table-scroll">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>Время</th>
                                    <th>Лектор</th>
                                    <th>Название</th>
                                    <th>Эксперт-патоморфолог</th>
                                    <th>Эксперт-клиницист</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td colspan="5"><center><b>Сессия IV. Разбор клинических случаев по вопросах лечения аНХЛ </b><br>Модератор – Птушкин В.В.</center></td>
                                </tr>
                                <tr>
                                    <td nowrap="">09:00 - 10:00</td>
                                    <td nowrap="">Рябчикова В.В.<br>Санкт-Петербург</td>
                                    <td><!--a href="/video-20200925-02">Терапия ХЛЛ 1 линии, осложненная развитием хилоторакса</a><-->ДВККЛ</td>
                                    <td>Байков В.В.<br>Санкт-Петербург</td>
                                    <td>Бабичева Л.Г.<br>Москва</td>
                                </tr>
                                <tr>
                                    <td nowrap="">10:00 - 11:10</td>
                                    <td>Данилова М.А.<br>Обнинск</td>
                                    <td><!--a href="/video-20200925-03">Современные возможности терапии ХЛЛ</a><-->Посттрансплантационная лимфома Беркитта</td>
                                    <td>Ковригина А.М.<br>Москва</td>
                                    <td nowrap="">Самойлова О.С.<br>Нижний Новгород</td>
                                </tr>
                                <tr>
                                    <td>11:10 - 11:30</td>
                                    <td colspan="4"><center><em>Перерыв</em></center></td>
                                </tr>
                                <tr>
                                    <td colspan="5"><center><b>Сессия V. Разбор клинических случаев по вопросам лечения ММ</b><br>Модератор – Менделеева Л.П.</center></td>
                                </tr>
                                <tr>
                                    <td>11:30 - 12:20</td>
                                    <td nowrap="">Жеребцова В.А.<br>Москва</td>
                                    <td><!--a href="/video-20200925-04">АнтиCD38 -препараты в терапии ММ </a><-->Множественная миелома G-каппа, протекающая с образованием мягкотканого компонента в области шейки левой бедренной кости</td>
                                    <td></td>
                                    <td>Бессмельцев С.С.<br>Санкт-Петербург</td>
                                </tr>
                                <tr>
                                    <td>12:20 - 13:10</td>
                                    <td nowrap="">Скворцова Н.С.<br>Новосибирск</td>
                                    <td><!--a href="/video-20200925-04">Современные подходы к терапии рецидивов ММ </a><-->Терапия множественной миеломы высокого цитогенетического риска</td>
                                    <td></td>
                                    <td>Соловьев М.В.<br>Москва</td>
                                </tr>
                                <tr>
                                    <td>13:10 - 14:00</td>
                                    <td nowrap="">Клиточенко Т.Ю.<br>Волгоград</td>
                                    <td><!--a href="/video-20200925-04">Современные подходы к терапии рецидивов ММ </a><-->Выбор терапии – первый рецидив множественной миеломы</td>
                                    <td></td>
                                    <td>Семочкин С.В.<br>Москва</td>
                                </tr>
                                <tr>
                                    <td>14:00 - 14:50</td>
                                    <td nowrap="">Лучинин А.С.<br>Киров</td>
                                    <td><!--a href="/video-20200925-04">АнтиCD38 -препараты в терапии ММ </a><-->Длительное лечение пациента с ММ</td>
                                    <td></td>
                                    <td>Гарифуллин А.Д.<br>Санкт-Петербург</td>
                                </tr>
                                <tr>
                                    <td>14:50 - 15:40</td>
                                    <td nowrap="">Зубкова Е.В.<br>Иркутск</td>
                                    <td><!--a href="/video-20200925-04">Современные подходы к терапии рецидивов ММ </a><-->Первично множественные синхронные лимфопролиферативные заболевания: ХЛЛ  и ММ</td>
                                    <td>Байков В.В.<br>Санкт-Петербург</td>
                                    <td>Воробьев В.И.<br>Москва</td>
                                </tr>
                                <tr>
                                    <td>16:00 - 17:45</td>
                                    <td colspan="2"><center><em>Сателлитный симпозиум</em></center></td>
                                    <td colspan="2"><center><em>Сателлитный симпозиум</em></center></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <a href="javascript:void(0);" class="btn btn-bluez">Подключиться к онлайн трансляции</a>
                    </div>
                    <div class="program-pdf">
                        <a href="javascript:void(0);" target="_blank" class="btn btn-bluez">Поключиться к онлайн трансляции</a>
                        <a href="/limforum.pdf" target="_blank" class="btn btn-bluez btn-down">Открыть программу</a>
                    </div>
                    <div class="program-dop d-none d-lg-flex">
                        <div class="program-dop-item">
                            <div class="program-dop-item-time">
                                13:00 – 14:00
                            </div>
                            <div class="program-dop-item-title">
                                Сателлитный симпозиум компании Сателлитный симпозиум компании
                            </div>
                            <a href="javascript:void(0);" class="btn btn-bluez">Подключиться к онлайн трансляции</a>
                        </div>
                        <div class="program-dop-item">
                            <div class="program-dop-item-time">
                                13:00 – 14:00
                            </div>
                            <div class="program-dop-item-title">
                                Сателлитный симпозиум компании Сателлитный симпозиум компании
                            </div>
                            <a href="javascript:void(0);" class="btn btn-bluez">Подключиться к онлайн трансляции</a>
                        </div>
                        <div class="program-dop-item">
                            <div class="program-dop-item-time">
                                13:00 – 14:00
                            </div>
                            <div class="program-dop-item-title">
                                Сателлитный симпозиум
                            </div>
                            <a href="javascript:void(0);" class="btn btn-bluez">Подключиться к онлайн трансляции</a>
                        </div>
                        <div class="program-dop-item">
                            <div class="program-dop-item-time">
                                13:00 – 14:00
                            </div>
                            <div class="program-dop-item-title">
                                Сателлитный симпозиум компании Сателлитный симпозиум компании
                            </div>
                            <a href="javascript:void(0);" class="btn btn-bluez">Подключиться к онлайн трансляции</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 d-none d-lg-block">
                    <div class="program-right">
                        <a href="javascript:void(0);">
                            <img src="{{ asset('uploads/news/Session1.PNG') }}">
                        </a>
                        <a href="javascript:void(0);">
                            <img src="{{ asset('uploads/news/Session2.PNG') }}">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
