{% extends 'base.html.twig' %}

{% block title %}Create ChatRoom{% endblock %}

{% block body %}

    <h1>ChatRoom</h1>

    {{ form_start(ChatRoomForm) }}
    {{ form_end(ChatRoomForm) }}
{% endblock %}
